* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

.cover {
    position: relative;
}

.cover .cover-cont {
    display: none;
}

.cover-cont.active {
    display: block;
}

.cover .cover-img {
    height: 500px;
}

.cover .text-cont {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: white;
    text-align: right;
    width: 80%;
}

.cover .text-cont h2 {
    margin-bottom: 20px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumbnails .thumb {
    height: 100px;
    opacity: .5;
}

.thumbnails .thumb.active {
    border: 5px solid darkorange;
    opacity: 1;
}

.thumbnails .btn {
    background-color: darkorange;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    cursor: pointer;
}

.thumbnails .btn.next {
    bottom: 10px;
}

.thumbnails .btn.prev {
    top: 10px;
}